@CHARSET "UTF-8";

#codepadContainer {
    height: 50em;
}

#codepadEditorContainer {
    height: 100%;
    position: relative;
}

#codepadResultFrame {
    height: 100%;
    overflow: auto;
}

#codepadEditor {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
